.profile {
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 50px;

    &__image {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        overflow: hidden;
    }
    
    &__info {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    &__name {
        margin-top: $padding-md;
        font-size: 18px;
        font-weight: bold;  
    }

    &__badges {
        display: flex;
        flex-direction: column;
        margin-top: $padding-lg;
    }
}

.profile .btn {
    max-width: 150px;
    margin-top: 50px;
}