.titles__year {
    color: $color-s-primary-dark;
    font-size: $font-size-lg;
    margin: 1.6rem;
    padding-top: 1.6px;
    border-bottom: 2px solid $color-s-primary-dark;
}

.card__line {
    border-bottom: 2px solid $color-box-shadow;
}