.card {
    padding: $padding-md 0;
    max-width: 500px;
}

.post__author {
    padding: $padding-xs 0;
    align-items: center;
    
    &-content {
        text-transform: uppercase;
    }

    &-course {
        color: $color-s-primary;
        font-size: $font-size;
    }

    &-name {
        font-size: $font-size-sm;
    }

    &-thumbnail {
        width: 40px;
        height: 40px;
        margin-right: $padding-md;
        border-radius: $border-radius;
        overflow: hidden;
    }
}