.comment-list {
    padding-bottom: $padding-md;
}

.comment-item {
    display: flex;
    margin: $padding-lg 0;

    &:first-child {
        margin-top: 0;
    }

    &__content {
        padding: 0 0 0 $padding-xs;
        flex: 1;

        p {
            padding-right: $padding-lg;
        }
    }

    &__author {
        margin-top: 0;
    }

    &__top {
        display: flex;
        justify-content: space-between;
    }

    &__timestamp {
        color: $color-s-secondary;
        font-size: 14px;
    }
}

.comment {
    &__form {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
    }
}