.drawer {
    z-index: 9999;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: 70vh;
    max-height: 100vh;
    background-color: #FFF;
    border-radius: 20px 20px 0 0;
    transition: all .4s ease-in-out;
    
    &__content {
        padding: $padding-md;
        border-radius: 20px 20px 0 0;
    }

    &__backdrop {
        z-index: 999;
        position: fixed;
        top: 0; 
        left: 0;
        width: 100vw;
        height: 100vh;
        background: rgba(0, 0, 0, 0.3);
    }

    &__indicator {
        max-width: 200px;
        width: 100%;
        height: 5px;
        margin-top: $padding-md;
        margin-left: auto;
        margin-right: auto;
        border-radius: $border-radius;
        background-color: rgba(0, 0, 0, 0.3);
    }
}

.drawer.slideOut {
    transform: translateY(100vh);
}