.form-label {
    display: block;
    margin-top: $padding-md;
}


.react-toggle {
    margin-top: 5px;
}

.react-toggle--checked .react-toggle-track {
    background-color: $color-s-primary-dark !important;
}

.react-toggle:active:not(.react-toggle--disabled) .react-toggle-thumb {
    box-shadow: 0px 0px 5px 5px $color-s-primary-dark !important;
    border-color: $color-s-primary-dark !important;

}

.react-toggle--checked .react-toggle-thumb {
    border-color: $color-s-primary-dark !important;
}