.form-control {
    z-index: 1;
    position: relative;
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 100%;
    padding: $padding-md;
    margin-top: $padding-md;
    background: #FFF;
    border-radius: $border-radius-sm; 
    box-shadow: $box-shadow;
    color: $color-input-text;

    &__icon {
        padding-right: $padding-md;
    }

    input {
        flex: 1;
        font-size: $font-size;
        // line-height: $line-height;

        &:focus {
            color: $color-input-text;
        }
    }
}

.search-control {
    margin: 0;
    padding: $padding-xs;
    box-shadow: none;
}

.comment-control {
    background-color: #f1f1f1;
}

.input__icon {
    position: absolute;
    top: 50%;
    right: 16px;
    transform: translateY(-50%);
    overflow: hidden;

    &--search, &--comment {
        color: lighten($color-t-secondary, 25);
    }
}

.radio-control {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: $padding-lg 0;
}

.is-invalid {
    border: 1px solid $color-danger;
}

.invalid-feedback {
    margin-top: $padding-xs;
    color: $color-danger;
}