.input-wrapper {
    position: relative;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    padding: ($base-padding / 2) $base-padding ($base-padding / 2);
    border-radius: 16px;
    background: #FFF;

    input {
        line-height: 1.6rem;
    }
}

.input__icon {
    position: absolute;
    top: 8px;
    right: 16px;
    overflow: hidden;
}