.d-flex {
    display: flex;
}

.d-flex-center {
    display: flex;
    justify-content: center !important;
    align-items: center !important;
    height: 100%;
}

.remove {
    display: none !important;
}