$color-s-primary: #FDAC00;
$color-s-primary-dark: #F28907;
$color-s-secondary: #2D2C2C;
$grd-student: linear-gradient($color-s-primary, $color-s-primary-dark);

$color-t-primary: #EE00FF;
$color-t-primary-dark: #6F00FF;
$color-t-secondary: #2D2C2C;
$gradient-teacher: linear-gradient($color-t-primary, $color-t-primary-dark)