/*
* Color Variables
*/
$color-s-primary: #FDAC00;
$color-s-primary-dark: #F28907;
$color-s-secondary: #2D2C2C;
$gradient-student: linear-gradient($color-s-primary, $color-s-primary-dark);
$color-input-text: #686767;


$color-t-primary: #EE00FF;
$color-t-primary-dark: #6F00FF;
$color-t-secondary: #2D2C2C;
$gradient-teacher: linear-gradient($color-t-primary, $color-t-primary-dark);

/*
* Spacing Variables
*/
$padding-xs: 1rem;
$padding-md: 1.6rem;
$padding-lg: 2.4rem;

/*
* Font Variables
*/
$font-family: 'Lato',sans-serif;

$font-size-xs: 1.2rem;
$font-size-sm: 1.4rem;
$font-size: 1.6rem;
$font-size-lg: 2.4rem;

$font-weight-light: 100;
$font-weight-medium: 500;
$font-weight-bold: 700;
$font-weight-black: 900;

$line-height: 1.6;

/*
* Other
*/

$box-shadow: 0 1px 0 #EFEFEF;
$border-radius: 50%;
$border-radius-sm: 5px;