.header {
    justify-content: space-between;
    align-items: center;
    width: 100%;
    min-height: 90px;
    padding: $default-padding;
    background: $gradient-student;

    &__logo {
        img {
            max-width: 80px;
        }
    }

    &__search {
        flex-grow: 1;
        padding-left: $default-padding;
        padding-right: $default-padding;
    }

    &__filter {
        color: #FFF;
    }
}
