@keyframes expandFullWidth {
    0% {
        width: auto;
    }

    100% {
        width: auto;
    }
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    min-height: 80px;
    padding: $padding-md;
    background: $gradient-student;

    &__logo {
        img {
            max-width: 80px;
        }


    }

    &__search {
        flex-grow: 1;
        padding-left: $padding-md;
        padding-right: $padding-md;
        transition: all 2s ease-in-out 2s;
        animation: 0.4s ease-in-out 0s 1 expandFullWidth;
    }

    &__filter {
        color: #FFF;
    }


}