.header {
    justify-content: space-between;
    align-items: center;
    width: 100%;
    min-height: 90px;
    padding: $padding-md;
    background: $gradient-student;
    position: fixed;
    top: 0;
    left: 0;

    &__logo {
        img {
            max-width: 80px;
        }
    }

    &__search {
        flex-grow: 1;
        padding-left: $padding-md;
        padding-right: $padding-md;
    }

    &__filter {
        color: #FFF;
    }
}