.nav__container {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: rgb(255, 255, 255);
    left: 0;
    height: 50px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.3)
}

.nav__item a {
    text-align: center;
    color: #464747;
    text-decoration: none;
    font-size: 12px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

nav>ul {
    padding: 0px 18px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

li {
    display: flex;
    justify-content: center;
    padding: 4px 6px;
    text-transform: capitalize;
}

.add__request {
    position: absolute;
    left: calc(50% - 30px);
    top: -30px;
    width: 60px !important;
    height: 60px !important;
    min-width: 60px;
    border-radius: 50%;
    background: $color-s-primary;
}
    