.nav__container {

    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: rgb(255, 255, 255);
    left: 0;
    height: 50px;

    text-align: center;
    border-top: 1px solid #464747;
    display: flex;
    justify-content: center;
    align-items: center;
}



.nav__item a {
    text-align: center;
    color: #464747;
    text-decoration: none;
    font-size: 12px;
    text-align: center;
    width: 20px;
    height: 20px;
}



nav>ul {
    padding: 4px 18px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;

}

li {
    display: flex;
    padding: 4px 6px;
    justify-content: center;
    text-transform: capitalize;

}

.add__request {
    position: absolute;
    width: 60px !important;
    height: 60px !important;
    min-width: 60px;
    left: calc(50% - 30px);
    top: -30px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: radial-gradient(circle, $color-s-primary, $color-s-primary-dark, $color-s-primary-dark);
}